.title {
text-align: center;
font-size: 5rem;
}
body{
    background-image: url('imgs/wallpapergravityfalls.gif');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
      }

.btn{
    padding: 0%;
}
.buttonimg1{
    border: 5px solid white;
}
.buttonimg2{
    border: 5px solid white;
}
.buttonimg3{
    border: 5px solid white;
}
.titleimg{
    width: 50%;
    border: 5px solid white;
}
.outcome{
    text-align: center;

}

.holder1{
    margin-top: 100px;

}

.score1 {
    justify-content: center;
}